body {
    padding: 0 10%;
    background: #038C8C;    
    font-family:Arial ;
}

h3 {
    display: block;
}

header {
    background-color: azure;
    background-image: url("../images/website-background-templates.png");
    background-repeat: round no-repeat; 
    background-position: left center;
    border: 2px solid #013440;
    border-radius: 20px; 
    padding-left: 10px;
    display: block;
}

footer {
    padding-bottom: 50px;
    text-align: center;
}

section {
    
    
   
}

ul {
    text-transform: uppercase;
    font-size: small;
}


.styling {
    background: #F2E3D5;
    border: 2px solid #013440;
    border-radius: 20px; 
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 200px;

    
}

.profilePhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  
}

.columnsA{
    display: inline-block;
    padding-left: 50px;
    padding-right: calc(45%);
}

.columnsB{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px ;
}

.highlight{
    background: #FAEF9D;
}

.infoText {
    font-size: smaller;
    padding-left: 20px;
}

